body {
 	color: #404040;
	font-family: "Georgia", serif;
	background-color: #F7BE81;
	font-size: 11px;
	background-position: center; 
	background-attachment: fixed;
 }
 
 h3 {
 	color: #220FF2;
 	text-align: center;
	letter-spacing: 0.25em;
	font-size: 50px;
 	font-family: "Georgia", serif;
 	margin: auto;
}


p {
	width:60%;
}

a:hover
{
	color:#01DF01;
}

li{
	color: #DF013A;
 	text-align: center;
	font-size: 15px;
	line-height: 200%;
 	font-family: "Lucida Sans Unicode", sans-serif;
 	margin: auto;
	
}


.intro{
		margin: auto;
		color: #08088A;
		font-size: 15px;
		text-align: center;
		font-family: "Lucida Sans Unicode", sans-serif;
	}
	
.space {
	line-height: 3000%;
}

pre{
position: absolute;
left:    0;
bottom:   0;
}