

body{
	
background-color:#CCCCFF;
font-size:14pt;
font-family: sans-serif;
font-weight: bold;
padding: 0;
margin: 0;
	
}


h1{
font-size:32pt;	
text-align: center;
margin-bottom: 0;

}

textarea{
	width: 90%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 12pt;
	font-family: monospace;
	font-weight: bold;
}

.controls{
	text-align: center;
	
}

fieldset{
	border-width: 5px;
	border-color: black;
	border-style: solid;
	display: inline;
	text-align: center;
	vertical-align: top;
	
}

#validator{
	position: absolute;
    right: 0px;
}

.Tiny {
    font-size: 7pt;
}

.Small{
    font-size:10pt;
}

.Medium{
    font-size: 12pt;
}

.Large{
    font-size: 16pt;
}

.ExtraLarge{
    font-size: 24pt;
}

.XXL{
    font-size: 32pt;
}





